.chat_mini {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    -webkit-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);
    box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);

    position: relative;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
        -webkit-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.28);
        -moz-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.28);
        box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.28);
    }
}
.img_wrap {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    >img {
        object-fit: fill;
        width: 100%;
    }
}
.last_message {
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.last_message_time {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #676767;
}

.chat_full {
    height: 700px;
    -webkit-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);
    box-shadow: -1px 4px 17px -3px rgba(34, 60, 80, 0.21);
    border-radius: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    >form {
        display: flex;
        margin-top: 30px;
    }
}
